#filters_button_active{
    display: none;
}

#products_filter{
    width: 20%;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    #close_filters{
        display: none;
    }

    h3{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
        text-align: center;
        font-family: var(--title-font);
    }

    .filter{
        width: 60%;
        margin-bottom: 30px;

        h4{
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 5px;
            text-align: left;
        }
    }
}

@media screen and (max-width: 900px){
    #filters_button_active{
        display: block;
        width: 80%;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 5rem auto 20px;

        p{
            svg{
                margin: 0 10px;
                transition: all 0.3s ease-in-out;

                &:hover{
                    fill: var(--color-alternative);
                }
            }
        }
    }

    #products_filter{
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        z-index: 999999999999;
        background-color: var(--color-primary);
        margin: 0;
        overflow: auto;
        padding: 20px 0;
        height: 100vh;
        transition: all 0.5s ease-in-out;

        #close_filters{
            display: block;
            margin-bottom: 20px;
            position: absolute;
            height: 20px;
            top: 30px;
            right: 30px;
            transition: all 0.5s ease-in-out;
        }

        h3{
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 2rem;
            text-align: center;
            font-family: var(--title-font);
        }

        .filter{
            width: 80%;
            margin-bottom: 30px;

            h4{
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 5px;
                text-align: left;
            }
        }
    }
}