#products_section{
    width: 80%;

    h1{
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    }
}

@media screen and (max-width: 900px){
    #products_section{
        width: 100%;
    }
}